@font-face {
  font-family: "Bastliga";
  src: url("/fonts/bastliga.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brother";
  src: url("/fonts/brother.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CentralWell";
  src: url("/fonts/centralwell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DancingFont";
  src: url("/fonts/dancing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ModernSignature";
  src: url("/fonts/modern-signature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PerfectoCalligraphy";
  src: url("/fonts/perfectocalligraphy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Phitagate";
  src: url("/fonts/phitagate.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Priestacy";
  src: url("/fonts/priestacy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
