@font-face {
  font-family: "Bastliga";
  src: url("./bastliga.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brother";
  src: url("./brother.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CentralWell";
  src: url("./centralwell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DancingFont";
  src: url("./dancing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ModernSignature";
  src: url("./modern-signature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PerfectoCalligraphy";
  src: url("./perfectocalligraphy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Phitagate";
  src: url("./phitagate.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Priestacy";
  src: url("./priestacy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
